<p>
    Quotebank is a very big and heterogenous dataset. It aggregates 178 million quotes coming from over 377 thousand web domains.
    With such a huge dataset it can diffcult to explore the data. For examples to answer questions such as : How the data is distributed ?
    What topics are covered, by whom ? But, why would it be important ? Because, it allows us to come with good idea of how to use 
    the data.
</p>

<p>
    In this project, we propose a way to identify communities in Quotebank and create tools to interactively explore their 
    features. In other words, our aim is to provide the tools that we would have dreamed of having at the beginning of this project,
    when we were asked to come up with project ideas.  
</p>
