<p style="text-align:center"><strong>How to mesure similarity between journals ?</strong></p>
<p>
    The first step before applying any clustering algorithm is to find a good way to mesure similarity between the entities. 
    Our hypotesis is that two journals that cite the same people are very likely to be simliar, for example they could share 
    the same topic or geographical area. In the rest of this data story, we will see that it works pretty well in practise. 
</p>

<p>
    But let's not go too fast. A good starting point is to look at the distribution of the data we are going to use. In our case, 
    the distribution ofthe number quotes per journal and of the number of different people cited per journal.
</p>

<div style="text-align:center">
    <img style="width: 90%;  margin-left: auto; margin-right: auto;" src="{{site.baseurl}}/assets/img/journal_distr.png">
</div>
<p>
    The figure shows that the distributions are heavy tailed. We find heavy tailed distributions in many real world phenomenons, 
    for examples the distribution of city sizes or the distribution of word counts in a text. As our data share a simliar distribution 
    with these phenomenons, it is also likely to share other properties with them. For instance, we know that the way we mesure 
    similarity works especially well with text. It is a hint we are in the good direction.
</p>