<p style="text-align:center"><strong>How to mesure similarity between journals ?</strong></p>
<p>
    The first step before applying any clustering algorithm is to find a good way to mesure similarity between the entities. 
    Our hypotesis is that two journals that cite the same people are very likely to be simliar, for example they could share 
    the same topic or geographical area. In the rest of this data story, we will see that it works pretty well in practise. 
</p>

<p>
    But let's not go too fast. A good starting point is to look at the distribution of quotes and
    of the number of differents people cited per journals.
</p>